@font-face {
    font-family: 'abeatbyKaiRegular';
    src: url('abeatbykairegular-webfont.eot');
    src: url('abeatbykairegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('abeatbykairegular-webfont.woff') format('woff'),
         url('abeatbykairegular-webfont.ttf') format('truetype'),
         url('abeatbykairegular-webfont.svg#abeatbyKaiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
  height: 100%;
}

h1 {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #653c1b;  
  font-weight: normal;
}

body { 
  margin:0px;
  background: url(page_background.png) top left repeat-x;
  background-color: #ffffff;
  font-family: helvetica, arial, verdana, freesans, sans-serif;
  font-size: 1em;
  color: #000000;
}

#container {
  height: auto !important;
  margin: 0px auto; 
  min-height: 100%;
  width: 800px;
  position: relative;
}

#header {
  height: 80px;
}

#logo {
  top: 8px;
  background: url(logo.png) top left no-repeat; 
  width: 195px;
  height: 71px;
  position: relative;
}

#content {
  position: absolute;
  top: 82px;
  padding: 8px 8px 8px 8px;
  min-height: 120px;
  width: 800px;  
  overflow: auto;
  background: url(content_header.png) top left no-repeat;
}

#main {
  margin-top: 12px;
  padding: 8px 12px 8px 12px;
}

div#menu {
  height: 22px;
}

.wizard {
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
  padding: 2px 8px 6px 8px;
  margin-top: 4px;
}

a.menu, a.menu:visited {
  display: block;
  float: left;
  width: 126px;
  height: 18px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
  color: #cf8238;
  text-decoration: none;
  font-size: 20px;
  font-family: "abeatbyKaiRegular", sans-serif;
  letter-spacing: 3px;
  text-align: center;
}

a.menu:hover {
  color: #ebab6d;
}

/* CSS Styles for Sliding Door buttons */
		
button { 
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}

button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}


/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
button.submit { 
	padding: 0 15px 0 0; 
	margin-right:5px; 
	font-size:1em; 
	text-align: center; 
	background: transparent url(button_bg.png) no-repeat right -74px; 
}
	
button.submit span {
	padding: 6px 0 0 15px; 
	height:27px; 
	background: transparent url(button_bg.png) no-repeat left top; 
	color:#ffffff; 
}
	
button.submit:hover, button.submitHover { 
/* the redundant class is used to apply the hover state with a script */
	background-position: right -111px; 
}
	
button.submit:hover span, button.submitHover span {
	background-position: 0 -37px;
}
